africastalking==2.0.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
alabaster==0.7.16
alembic==1.17.2
amqp==5.3.1
aniso8601==10.0.1
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
Authlib==1.6.5
awscli==1.43.6
babel==2.17.0
bandit==1.9.2
bcrypt==5.0.0
bidict==0.23.1
billiard==4.2.4
black==25.11.0
bleach==6.3.0
blinker==1.9.0
botocore==1.41.6
brevo-python==1.2.0
cachelib==0.13.0
cachetools==6.2.2
camel-converter==5.0.0
celery==5.6.0
Cerberus==1.3.8
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
colorama==0.4.6
coverage==7.12.0
cryptography==46.0.3
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
dnspython==2.8.0
docutils==0.19
dparse==0.6.4
email-validator==2.3.0
et_xmlfile==2.0.0
eventlet==0.40.4
exceptiongroup==1.3.1
execnet==2.1.2
fabric==3.2.2
factory_boy==3.3.3
Faker==38.2.0
filelock==3.20.0
flake8==7.3.0
flasgger==0.9.7.1
Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Caching==2.3.1
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-Limiter==4.0.0
Flask-Mail==0.10.0
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
flask-restx==1.3.2
Flask-Session==0.8.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
Flask-WTF==1.2.2
flower==2.0.1
freezegun==1.5.5
frozenlist==1.8.0
fsspec==2025.10.0
fuzzywuzzy==0.18.0
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.72.0
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpie==3.2.4
httplib2==0.31.0
httpx==0.28.1
humanize==4.14.0
idna==3.11
imagesize==1.4.1
importlib_resources==6.5.2
iniconfig==2.3.0
invoke==2.2.1
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
json-logging==1.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kombu==5.6.1
Levenshtein==0.27.3
librt==0.6.3
limits==5.6.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==4.1.0
marshmallow-sqlalchemy==1.4.2
mccabe==0.7.0
mdurl==0.1.2
meilisearch==0.38.0
mirakuru==3.0.1
mistune==3.1.4
mpmath==1.3.0
msgspec==0.20.0
multidict==6.7.0
mypy==1.19.0
mypy_extensions==1.1.0
networkx==3.6
newrelic==11.1.0
nltk==3.9.2
numpy==2.3.5
oauthlib==3.3.1
openpyxl==3.1.5
ordered-set==4.1.0
packaging==25.0
pandas==2.3.3
paramiko==4.0.0
passlib==1.7.4
pathspec==0.12.1
pbr==7.0.3
phonenumbers==9.0.19
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
port-for==1.0.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.1
psutil==7.1.3
psycopg==3.3.0
psycopg2==2.9.11
psycopg2-binary==2.9.11
py==1.11.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
PyMySQL==1.1.2
PyNaCl==1.6.1
pyotp==2.9.0
pyparsing==3.2.5
PySocks==1.7.1
pytest==9.0.1
pytest-benchmark==5.2.3
pytest-cov==7.0.0
pytest-flask==1.3.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-mock==3.15.1
pytest-postgresql==7.0.2
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-engineio==4.12.3
python-http-client==3.3.7
python-Levenshtein==0.27.3
python-magic==0.4.27
python-slugify==8.0.4
python-socketio==5.15.0
pytokens==0.3.0
pytz==2025.2
PyYAML==6.0.3
qrcode==8.2
RapidFuzz==3.14.3
redis==7.1.0
referencing==0.37.0
regex==2025.11.3
reportlab==4.4.5
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.8
retry==0.9.2
rich==14.2.0
rpds-py==0.30.0
rsa==4.7.2
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
s3transfer==0.16.0
safety==3.7.0
safety-schemas==0.0.16
schema==0.7.8
scikit-learn==1.7.2
scipy==1.16.3
sendgrid==6.12.5
setuptools==80.9.0
shellingham==1.5.4
sib-api-v3-sdk==7.6.0
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
Sphinx==7.3.7
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.44
starkbank-ecdsa==2.2.0
stevedore==5.6.0
stripe==14.0.1
structlog==25.5.0
sympy==1.14.0
tenacity==9.1.2
text-unidecode==1.3
threadpoolctl==3.6.0
tomlkit==0.13.3
tornado==6.5.2
tqdm==4.67.1
twilio==9.8.7
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
webargs==8.7.1
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.4
wheel==0.45.1
wrapt==2.0.1
wsproto==1.3.2
WTForms==3.2.1
yarl==1.22.0
